[project]
	description = An Atlassian Stash plugin to enforce commit message requirements.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Amir (roqerxz)
[access "refs/for/refs/*"]
	read = group user/Amir (roqerxz)
	push = group user/Amir (roqerxz)
	label-Code-Review = -2..+2 group user/Amir (roqerxz)
	label-Verified = -1..+1 group user/Amir (roqerxz)
	rebase = group user/Amir (roqerxz)
	removeReviewer = group user/Amir (roqerxz)
	submit = group user/Amir (roqerxz)
[access "refs/heads/*"]
	read = group user/Amir (roqerxz)
	create = group user/Amir (roqerxz)
	push = +force group user/Amir (roqerxz)
	pushMerge = group user/Amir (roqerxz)
[access "refs/tags/*"]
	push = +force group user/Amir (roqerxz)
	pushTag = group user/Amir (roqerxz)
	pushSignedTag = group user/Amir (roqerxz)
